h1 {
  justify-self: start;
}

h3 {
  margin: 0;
  justify-self: start;
}

td {
  border: 1px solid black;
}

ul {
  margin-top: 10px;
  padding: 0px;
  justify-self: start;
}

li {
  list-style: none;
  margin-top: 5px;
}

.main {
  display: grid;
  place-items: center;
  width: 300px;
  margin: auto;
}

.main .board {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-spacing: 0px;
  border: 1px solid black;
}

.start-game {
  margin-top: 30px;
  border: 0px;
  background-color: white;
  border: 1px solid red;
  padding: 10px 20px;
  color: red;
  cursor: pointer
}

.cell {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

